.dropdown {
	position: relative;
	width: 300px;
	font-family: Arial, sans-serif;
  }
  
  .dropdown .search-container {
	display: flex;
	position: relative;
  }
  
  .dropdown .search-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-size: 16px;
  }
  .dropdown-item-container {
	display: flex;	
  }
  
  .dropdown .clear-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	font-size: 16px;
	color: #999;
	cursor: pointer;
  }
  
  .dropdown .clear-button:hover {
	color: #333;
  }
  
  .dropdown .dropdown-list {
	position: absolute;
	width: 100%;
	background-color: white;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	margin-top: 2px;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
  }
  
  .dropdown .dropdown-item{
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
  }
  
  .dropdown .dropdown-item:hover{
	background-color: #f1f1f1;
  }
  
  .dropdown .dropdown-item:active{
	background-color: #e9e9e9;
  }

  .dropdown .resent-search {
	color: #61188C;
  }
  
  .dropdown .dropdown-item.no-results {
	text-align: center;
	color: #999;
  }
  
  .dropdown .dropdown-item.highlighted {
	background-color: #f0f0f0; /* Highlight color */
  }
  