body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.form-group {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
}

.form-group + .form-group {
  margin-left: 50px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
}

.result-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em 2em;
}

.logo {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto 0.3em auto;
  width: 100%;
  text-align: center;
}

.s {
  color: #4285f4; /* Blue */
}

.e {
  color: #ea4335; /* Red */
}

.a {
  color: #fbbc05; /* Yellow */
}

.r {
  color: #34a853; /* Green */
}

.c {
  color: #4285f4; /* Blue */
}

.h {
  color: #ea4335; /* Red */
}

.space {
  padding: 0 8px; /* Adds space between 'Search' and 'X' */
}

.x {
  color: #fbbc05; /* Yellow */
}
.stretch {
  padding-right: 5px;
}
